@import "./variables";

@mixin layout($backgroundColor) {
  background-color: $backgroundColor;
  padding: 0 10px;

  @media (min-width: $breakpoint-medium) and (max-width: $breakpoint-xl) {
    padding: 0 5%;
  }
  @media (min-width: $breakpoint-xl) {
    padding: 0 15%;
  }
}

@mixin buildTransition($property, $time, $easing) {
  transition: $property $time $easing;
  -moz-transition: $property $time $easing; /* Firefox 4 */
  -webkit-transition: $property $time $easing; /* Safari and Chrome */
  -o-transition: $property $time $easing; /* Opera */
  -ms-transition: $property $time $easing; /* Explorer 10 */
}

@mixin shadow {
  box-shadow: 0 0 25px map-get($colors, "shadow");
  -webkit-box-shadow: 0 0 25px map-get($colors, "shadow");
  -moz-box-shadow: 0 0 25px map-get($colors, "shadow");
}

@mixin formInput() {
  outline: none;
  border: none;
  font-family: $lato;
  font-weight: 300;
  color: map-get($colors, "text");
  background-color: map-get($colors, "altBackground");
  border-radius: 1.5px;

  @include buildTransition(border-color, 0.25s, ease-in-out);
  @include buildTransition(background-color, 0.25s, ease-in-out);

  @include placeholder {
    color: map-get($colors, "lightGrey");
  }

  &.error {
    background-color: lighten(map-get($colors, "red"), 20);
  }
}
