$colors: (
  "primary": #5971ff,
  "accent": #ff5555,
  "secondary": #d3d3d3,
  "background": #ffffff,
  "altBackground": #f4f8ff,
  "highlight": lighten(#5971ff, 27.5),
  "text": black,
  "border": #f0efef,
  "bodyText": #7c7e88,
  "red": #eb5757,
  "orange": #f2994a,
  "yellow": #f2c94c,
  "green": #27ae60,
  "darkGreen": #219653,
  "lightGreen": #6fcf97,
  "blue": #2d9cdb,
  "darkBlue": #2f80ed,
  "lightBlue": #56ccf2,
  "purple": #9b51e0,
  "lightPurple": #bb6bd9,
  "black": black,
  "white": white,
  "grey": #4f4f4f,
  "darkGrey": #333333,
  "lightGrey": #4e5861,
);

$lightColors: (
  "primary": #5971ff,
  "accent": #ff5555,
  "secondary": #d3d3d3,
  "background": #070911,
  "altBackground": lighten(#070911, 10),
  "highlight": lighten(#070911, 15),
  "text": white,
  "bodyText": #adb0be,
  "border": #3a3a3a,
  "red": #eb5757,
  "orange": #f2994a,
  "yellow": #f2c94c,
  "green": #27ae60,
  "darkGreen": #219653,
  "lightGreen": #6fcf97,
  "blue": #2d9cdb,
  "darkBlue": #2f80ed,
  "lightBlue": #56ccf2,
  "purple": #9b51e0,
  "lightPurple": #bb6bd9,
  "black": black,
  "white": white,
  "grey": #4f4f4f,
  "darkGrey": #333333,
  "lightGrey": #4e5861,
);

$breakpoint-xs: 0px;
$breakpoint-small: 550px;
$breakpoint-medium: 1024px;
$breakpoint-large: 1280px;
$breakpoint-xl: 1920px;

$headerHeight: 100px;
$rubik: "Rubik", sans-serif;
$lato: "Lato", sans-serif;
