@import "./variables";
@import "./common";

html,
body,
#__next {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: $lato;
  color: map-get($colors, "text");
  background-color: map-get($colors, "background");
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

html.wf-loading * {
  opacity: 0;
}

a {
  font-size: 18px;
  color: map-get($colors, "primary");
  text-decoration: none;
  cursor: pointer;

  @include buildTransition(color, 0.25s, ease-in-out);

  &:hover {
    color: lighten(map-get($colors, "primary"), 10);
  }
}

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

p {
  margin: 0px;
  font-family: $lato;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  color: map-get($colors, "bodyText");

  @media (max-width: $breakpoint-medium) {
    font-size: 18px;
    line-height: 24px;
  }
}

h1 {
  margin: 0px;
  margin-bottom: 10px;
  font-family: $rubik;
  font-weight: 500;
  color: map-get($colors, "text");
  @media (max-width: $breakpoint-medium) {
    font-size: 32px;
    line-height: 32px;
  }
  @media (min-width: $breakpoint-medium) and (max-width: $breakpoint-xl) {
    font-size: 45px;
    line-height: 45px;
  }
  @media (min-width: $breakpoint-xl) {
    font-size: 50px;
    line-height: 50px;
  }
}

h2 {
  margin: 0px;
  margin-bottom: 10px;
  font-family: $rubik;
  font-weight: 500;
  color: map-get($colors, "text");
  @media (max-width: $breakpoint-small) {
    font-size: 24px;
    line-height: 24px;
  }
  @media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
    font-size: 28px;
    line-height: 28px;
  }
  @media (min-width: $breakpoint-medium) {
    font-size: 32px;
    line-height: 32px;
  }
}

h3 {
  margin: 0px;
  margin-bottom: 10px;
  font-family: $rubik;
  font-weight: 500;
  color: map-get($colors, "text");
  @media (max-width: $breakpoint-small) {
    font-size: 22px;
    line-height: 22px;
  }
  @media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
    font-size: 24px;
    line-height: 24px;
  }
  @media (min-width: $breakpoint-medium) {
    font-size: 28px;
    line-height: 28px;
  }
}

h4 {
  margin: 0px;
  margin-bottom: 5px;
  font-family: $rubik;
  font-weight: 500;
  font-size: 18px;
  color: map-get($colors, "text");
}

h5 {
  margin: 0px;
  margin-bottom: 5px;
  font-family: $rubik;
  font-weight: 400;
  font-size: 16px;
  color: map-get($colors, "text");
}

h6 {
  margin: 0px;
  margin-bottom: 5px;
  font-family: $rubik;
  font-weight: 500;
  font-size: 12px;
  color: map-get($colors, "text");
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

hr {
  border: 0;
  border-top: solid 0.5px map-get($colors, "border");
  margin: 0;
}

section {
  @include layout(map-get($colors, "background"));
}
