@import "./variables";
@import "./common";

section.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: map-get($colors, "altBackground");

  @media screen and (max-width: $breakpoint-medium) {
    flex-direction: column;
  }
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: $breakpoint-medium) {
    margin: 25px 0;
  }
}

.image {
  border-radius: 800px;
}

p.content {
  margin: 25px 0;
  max-width: 600px;
  text-align: center;
}
