@import "../variables";

@mixin btn($color) {
  height: 60px;
  width: 100%;
  border-radius: 1.5px;
  background-color: $color;
  text-decoration: none;
  outline: none;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  font-family: $rubik;
  color: white;
  cursor: pointer;
  padding: 0px 15px 0px 15px;
  @include buildTransition(background-color, 0.25s, ease-out);

  & > .icon {
    margin-left: 10px;
  }
  &:hover {
    background-color: darken($color, 5);
  }
}

@mixin btnOutline($color) {
  height: 60px;
  width: 100%;
  background: transparent;
  text-decoration: none;
  outline: none;
  border: solid 1.5px $color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  font-family: $rubik;
  color: $color;
  cursor: pointer;
  padding: 0px 15px 0px 15px;

  @include buildTransition(background-color, 0.25s, ease-out);

  & > .icon {
    margin-left: 10px;
  }

  &:hover {
    background-color: map-get($colors, "altBackground");
  }
}

@mixin btnSm($color) {
  @include btn($color);
  height: 35px;
  font-size: 14px;
}

@mixin btnOutlineSm($color) {
  @include btnOutline($color);
  height: 35px;
  font-size: 14px;
}

@mixin iconButton($color) {
  height: 60px;
  width: 60px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: $color;
  color: map-get($colors, "white");

  @include buildTransition(background-color, 0.25s, linear);
  @include buildTransition(color, 0.25s, linear);

  &:hover {
    background-color: lighten($color, 10);
  }
}

@mixin iconButtonSm($color) {
  @include iconButton($color);

  height: 40px;
  width: 40px;
  border-radius: 40px;
  font-size: 18px;
}

@mixin iconAction($color) {
  position: relative;
  overflow: hidden;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: $color;
  background-color: map-get($colors, "altBackground");

  @include buildTransition(background-color, 0.25s, linear);
  @include buildTransition(color, 0.15s, linear);

  &:hover {
    color: darken($color, 10);
    background-color: lighten($color, 25);
  }
}

@mixin iconActionSm($color) {
  @include iconAction($color);
  height: 40px;
  width: 40px;
  border-radius: 40px;
  font-size: 18px;
}

@each $name, $color in $colors {
  button.#{$name}Btn {
    @include btn($color);
  }
  button.#{$name}BtnSm {
    @include btnSm($color);
  }
  button.#{$name}BtnOutline {
    @include btnOutline($color);
  }
  button.#{$name}BtnOutlineSm {
    @include btnOutlineSm($color);
  }
  a.#{$name}IconAction {
    @include iconAction($color);
  }
  a.#{$name}IconActionSm {
    @include iconActionSm($color);
  }
  a.#{$name}IconBtn {
    @include iconButton($color);
  }
  a.#{$name}IconBtnSm {
    @include iconButtonSm($color);
  }
}

button.secondaryBtn {
  color: map-get($colors, "black") !important;
}

button.secondaryBtnSm {
  color: map-get($colors, "black") !important;
}
