@import "../variables";

.root {
  display: flex;
  background-color: map-get($colors, "background");
  border-bottom: solid 0.5px map-get($colors, "border");

  &.sticky {
    position: sticky;
    top: $headerHeight;
    left: 0;
    z-index: 1;
  }

  & > a.tab {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    font-family: $lato;
    padding: 20px 25px;
    color: map-get($colors, "bodyText");
    background-color: map-get($colors, "background");

    @include buildTransition(background-color, 0.25s, linear);
    @include buildTransition(color, 0.15s, linear);

    @media screen and (max-width: $breakpoint-small) {
      padding: 15px 20px;
    }

    @media screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-xl) {
      padding: 15px 25px !important;
    }

    &.active {
      color: map-get($colors, "primary");
      font-weight: 600;
      border-style: solid;
      border-width: 0 0 2px 0;
      padding: 20px 25px 18px 25px;
      border-color: map-get($colors, "primary");
      background-color: map-get($colors, "altBackground");

      @media screen and (max-width: $breakpoint-small) {
        padding: 15px 20px 13px 20px;
      }

      @media screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-xl) {
        padding: 15px 25px 13px 25px !important;
      }
    }

    &:hover {
      color: map-get($colors, "primary");
      background-color: map-get($colors, "altBackground");
    }
  }
}
