@import "../variables";
@import "../common";

footer.root {
  @include layout(map-get($colors, "background"));
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

p.copyright {
  font-size: 16px;
  line-height: 16px;
}
