@import "../../variables";
@import "../../common";

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

input[type="text"].input,
input[type="email"].input,
input[type="password"].input,
input[type="tel"].input {
  @include formInput();

  height: 60px;
  width: 100%;
  padding: 0 15px;
  font-size: 16px;
  margin: 10px 0;
}

input[type="text"].inputSm,
input[type="email"].inputSm,
input[type="password"].inputSm,
input[type="tel"].inputSm {
  @include formInput();

  height: 40px;
  width: 100%;
  padding: 0 10px;
  font-size: 14px;
  margin: 5px 0;
}

@mixin inputLabel {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2.5px;
  color: map-get($colors, "bodyText");

  & > p.helper {
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    color: map-get($colors, "purple");
  }
}

label.input {
  @include inputLabel;
  font-size: 14px;
  line-height: 16px;
}

label.inputSm {
  @include inputLabel;
  font-size: 12px;
  line-height: 12px;
}

textarea.textBox {
  @include formInput;
  width: 100%;
  min-height: 200px;
  font-size: 16px;
  line-height: 20px;
  padding: 15px;
  margin: 10px 0;
  resize: none;
}

p.error {
  position: absolute;
  font-size: 13px;
  font-weight: 400;
  color: map-get($colors, "red");
  margin-top: -5px;
}

div.formGroup {
  padding: 10px 0;
}
